/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #606060;
}

.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;
  position: relative;
}

/*** text color **/
.active {
  color: #e9b928;
}

.text-primary {
  color: #e9b928;
}

.text-secondary {
  color: #a8a8a8;
}

.text-dark {
  color: #313131;
}

.text-light {
  color: #606060;
}

.text-white {
  color: #ffffff !important;
}

.bg-primary {
  background-color: #e9b928;
}

.bg-secondary {
  background-color: rgba(168, 168, 168, 0.3);
}

.bg-white {
  background-color: #ffffff;
}

.bg-dark {
  background-color: #313131 !important;
}

.text-center {
  text-align: center;
}

.text-tr-none {
  text-transform: none !important;
}

/********display ******/
.d-inline {
  display: inline-block;
}

.d-block {
  display: block;
}

/**** flex classes ****/
.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-d-column {
  flex-direction: column;
}

.flex-d-row {
  flex-direction: row;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.alignItems-center {
  align-items: center;
}

/**** typography ****/
.h1 {
  font-size: 2.8rem;
  font-weight: 700;
}

h2 {
  font-size: 4.8rem;
  font-weight: 500;
}

.h3 {
  font-size: 1.8rem;
  font-weight: 600;
}

.body1 {
  font-size: 1.5rem;
  font-weight: 300;
}

.body2 {
  font-size: 1.5rem;
  font-weight: 300;
}

.body3 {
  font-size: 1.6rem;
  font-weight: 300;
}
@media only screen and (min-width: 1900px) {
  .body3 {
    font-size: 2.4rem;
  }
}

.link {
  font-size: 2rem;
  font-weight: 400;
}

.bold {
  font-weight: 500;
}

/****margin****/
.m-right-30 {
  margin-right: 3rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.m-b-10 {
  margin-bottom: 1rem;
}

.m-b-20 {
  margin-bottom: 2rem;
}

.m-b-30 {
  margin-bottom: 3rem;
}

.m-b-33 {
  margin-bottom: 1.5rem;
}

/*******eidyh *****/
.width-50 {
  width: 50%;
}

.width-100 {
  width: 100%;
}

@media only screen and (min-width: 1900px) {
  .wrapper {
    padding: 0 130px;
  }

  /*** text color **/
  .active {
    color: #e9b928;
  }

  .text-primary {
    color: #e9b928;
  }

  .text-secondary {
    color: #a8a8a8;
  }

  .text-dark {
    color: #313131;
  }

  .text-light {
    color: #606060;
  }

  .text-white {
    color: #ffffff;
  }

  .bg-primary {
    background-color: #e9b928;
  }

  .bg-secondary {
    background-color: rgba(168, 168, 168, 0.3);
  }

  .bg-white {
    background-color: #ffffff;
  }

  .bg-dark {
    background-color: #313131;
  }

  .text-center {
    text-align: center;
  }

  .text-tr-none {
    text-transform: none;
  }

  /********display ******/
  .d-inline {
    display: inline-block;
  }

  .d-block {
    display: block;
  }

  /**** flex classes ****/
  .d-flex {
    display: flex;
    flex-wrap: wrap;
  }

  .flex-d-column {
    flex-direction: column;
  }

  .flex-d-row {
    flex-direction: row;
  }

  .justify-space-between {
    justify-content: space-between;
  }

  .justify-center {
    justify-content: center;
  }

  .alignItems-center {
    align-items: center;
  }

  /**** typography ****/
  .h1 {
    font-size: 7.2rem;
    font-weight: 700;
  }

  h2 {
    font-size: 4.8rem;
    font-weight: 500;
  }

  .h3 {
    font-size: 3.6rem;
    font-weight: 600;
  }

  .body1 {
    font-size: 3.2rem;
    font-weight: 300;
  }

  .body2 {
    font-size: 2.4rem;
    font-weight: 300;
  }

  .body3 {
    font-size: 2rem;
    font-weight: 300;
  }

  .link {
    font-size: 2.4rem;
    font-weight: 400;
  }

  .bold {
    font-weight: 500;
  }

  /****margin****/
  .m-right-30 {
    margin-right: 3rem;
  }

  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .m-b-10 {
    margin-bottom: 1rem;
  }

  .m-b-20 {
    margin-bottom: 2rem;
  }

  .m-b-30 {
    margin-bottom: 3rem;
  }

  .m-b-33 {
    margin-bottom: 3.3rem;
  }

  /*******eidyh *****/
  .width-50 {
    width: 50%;
  }

  .width-100 {
    width: 100%;
  }
}
/***
header component
***/
.header {
  width: 100%;
  background-color: #a8a8a8;
}
.header .menu-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 99;
  transition: all 0.35s;
}
@media only screen and (min-width: 1900px) {
  .header .menu-icon {
    display: none;
  }
}
.header .menu-icon__show {
  visibility: visible;
}
.header .menu-icon__hide {
  visibility: hidden;
}
.header .drawer {
  margin: 0 -12px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 100;
  transition: all 0.35s;
  background-color: #313131;
}
@media only screen and (min-width: 1900px) {
  .header .drawer {
    background-color: transparent;
    flex-direction: row;
    margin: 0;
    left: 0;
    position: relative;
  }
}
.header .drawer__open {
  margin-left: 0;
}
.header .drawer__close {
  margin-left: -1920px;
}
@media only screen and (min-width: 1900px) {
  .header .drawer__close {
    margin-left: 0;
  }
}
.header .logo-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ffffff;
  padding: 12px;
}
@media only screen and (min-width: 1900px) {
  .header .logo-box {
    width: auto;
    padding: 12px;
  }
}
.header .logo-box .site-logo {
  display: block;
  width: calc(100% - 24px - 30px - 12px);
}
.header .logo-box .close-icon {
  display: block;
  width: 30px;
  height: 30px;
}
@media only screen and (min-width: 1900px) {
  .header .logo-box .close-icon {
    display: none;
  }
}
@media only screen and (min-width: 1900px) {
  .header .logo-box {
    display: block;
    border-bottom: none;
  }
}
.header .nav {
  width: 100%;
}
@media only screen and (min-width: 1900px) {
  .header .nav {
    width: auto;
    display: flex;
  }
}
.header .nav__item {
  display: block;
  padding: 20px 10px;
  width: 100%;
  text-transform: uppercase;
  transition: color 0.35s;
  margin-right: auto;
  flex-direction: column;
  border-bottom: 1px solid #ffffff;
}
@media only screen and (min-width: 1900px) {
  .header .nav__item {
    width: auto;
    border-bottom: none;
  }
}
.header .nav__item:hover {
  color: #e9b928;
}

/*******service card******/
.card {
  width: 100%;
  background-color: #efefef;
  border: 1px solid #ffffff;
  box-shadow: 1px 1px 5px #fff;
  text-align: center;
  padding: 3rem 2rem;
  border-radius: 1.6rem;
}
.card > *:not(:last-child) {
  margin-bottom: 2rem;
}
.card__img {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  background-color: #e9b928;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
@media only screen and (min-width: 1900px) {
  .card__img {
    width: 24rem;
    height: 24rem;
  }
}
.card__img img {
  width: 7rem;
  height: 7rem;
  display: block;
}
@media only screen and (min-width: 1900px) {
  .card__img img {
    width: 14rem;
    height: 14rem;
  }
}

/*****button****/
.button-group {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 1900px) {
  .button-group {
    justify-content: flex-start;
  }
}

.btn {
  min-width: 10rem;
  border-radius: 0.8rem;
  text-align: center;
  font-size: 1.5rem;
  padding: 10px 15px;
  color: #ffffff;
}
@media only screen and (min-width: 1900px) {
  .btn {
    min-width: 27.5rem;
    font-size: 2.4rem;
    padding: 12px 20px;
    border-radius: 1.6rem;
  }
}
.btn__contained {
  background-color: rgba(233, 185, 40, 0.75);
  color: #ffffff;
  border: 1px solid #e9b928;
  transition: background-color 0.4s;
}
.btn__contained:hover {
  background-color: #e9b928;
}
.btn__outlined {
  border: 1px solid #e9b928;
  color: #e9b928;
  background-color: transparent;
  transition: background-color 0.4s;
  opacity: 0.6;
  transition: opacity 0.4s;
}
.btn__outlined:hover {
  opacity: 1;
}
.btn > img {
  margin-right: 0.5rem;
  width: 14px;
}
@media only screen and (min-width: 1900px) {
  .btn > img {
    width: 35px;
  }
}
.btn__border-radius-8 {
  border-radius: 8px;
}

.section {
  width: 100%;
  padding: 2rem 0;
}
@media only screen and (min-width: 1900px) {
  .section {
    padding: 12rem 0;
  }
}
.section__title {
  font-size: 2.5rem;
  color: #e9b928;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
@media only screen and (min-width: 1900px) {
  .section__title {
    font-size: 4.8rem !important;
    margin-bottom: 10rem;
  }
}

.hero {
  width: 100%;
  background-color: rgba(168, 168, 168, 0.3);
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  max-height: 1080px;
  position: relative;
  margin: 0 auto;
}
.hero__inner-box {
  width: 100%;
  max-width: 810px;
  height: auto;
  padding: 0 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
@media only screen and (min-width: 1900px) {
  .hero__inner-box {
    text-align: left;
  }
}
.hero__inner-box > *:not(:last-child) {
  margin-bottom: 2rem;
}
.hero__inner-box > *:last-child {
  margin-top: 4rem;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media only screen and (min-width: 1900px) {
  .about {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.about__description {
  width: 100%;
  max-width: 1120px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media only screen and (min-width: 1900px) {
  .about__description {
    margin-bottom: 2.5rem;
    text-align: left;
  }
}
.about__description > *:not(:last-child) {
  margin-bottom: 1.2rem;
}
@media only screen and (min-width: 1900px) {
  .about__description > *:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}
.about__description .skill {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  text-align: center;
  border-top: 1px solid #a8a8a8;
  padding-top: 2rem;
}
@media only screen and (min-width: 1900px) {
  .about__description .skill {
    text-align: left;
    border-top: none;
    padding-top: none;
  }
}
.about__description .skill__set {
  width: 50%;
  margin-bottom: 30px;
}
@media only screen and (min-width: 1900px) {
  .about__description .skill__set {
    width: 25%;
  }
}
.about__description .skill__item {
  list-style-type: none;
}
.about__picture {
  max-width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
}
@media only screen and (min-width: 1900px) {
  .about__picture {
    max-width: 430px;
    height: 430px;
  }
}
.about__picture img {
  width: 100%;
  object-fit: cover;
}

.service {
  width: 100%;
}
.service__item {
  width: 100%;
  margin-bottom: 30px;
}
@media only screen and (min-width: 1900px) {
  .service__item {
    width: calc((100% - 60px) / 3);
    margin-bottom: 30px;
  }
}

.portfolio {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.portfolio__nav {
  width: auto;
  display: none;
}
@media only screen and (min-width: 1900px) {
  .portfolio__nav {
    display: block;
  }
}
.portfolio__nav > *:not(:last-child) {
  margin-right: 3rem;
  display: inline-block;
}
.portfolio__item {
  width: 100%;
  margin-bottom: 16px;
  border: 1px solid #e7e7e7;
  position: relative;
  text-align: center;
  color: #ffffff;
  overflow: hidden;
}
@media only screen and (min-width: 1900px) {
  .portfolio__item {
    width: calc((100% - 60px) / 3);
    margin-bottom: 30px;
  }
}
.portfolio__item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: inline-block;
}
.portfolio__item__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(49, 49, 49, 0.85);
  transition: all 0.4s;
}
.portfolio__item__details-link {
  width: 100%;
  background: #2196f3;
  padding: 1rem 0;
  cursor: pointer;
  position: absolute;
  bottom: -37px;
  opacity: 0;
  transition: all 0.4s;
}
.portfolio__item:hover .portfolio__item__overlay {
  opacity: 1;
}
.portfolio__item:hover .portfolio__item__details-link {
  opacity: 1;
  bottom: 0;
  opacity: 1;
}

.hire {
  text-align: center;
}
@media only screen and (min-width: 1900px) {
  .hire .btn {
    padding: 12px 40px;
  }
}

.contact {
  padding-top: 2.5rem;
  line-height: 1.5;
}
@media only screen and (min-width: 1900px) {
  .contact {
    padding-top: 10rem;
  }
}
.contact .wrapper {
  display: flex;
  justify-content: space-between;
}
.contact .wrapper > *:not(:last-child) {
  width: 100%;
  margin-bottom: 1.5rem;
}
@media only screen and (min-width: 1900px) {
  .contact .wrapper > *:not(:last-child) {
    width: 23.5%;
    margin-bottom: 3rem;
  }
}
.contact__about {
  display: flex;
  flex-direction: column;
  order: 4;
}
@media only screen and (min-width: 1900px) {
  .contact__about {
    order: 1;
  }
}
.contact__about > *:not(:first-child) {
  margin-bottom: 1.5rem;
}
@media only screen and (min-width: 1900px) {
  .contact__about > *:not(:first-child) {
    margin-bottom: 3.5rem;
  }
}
.contact__about img {
  width: 48px;
}
@media only screen and (min-width: 1900px) {
  .contact__about img {
    width: 85px;
  }
}
.contact__about .icon-list {
  display: flex;
  list-style: none;
  width: 100%;
  max-width: 325px;
  justify-content: space-between;
}
.contact__about .icon-list li {
  list-style-type: none;
  display: inline-block;
}
.contact__about .icon-list img {
  width: 35px;
  height: 35px;
}
@media only screen and (min-width: 1900px) {
  .contact__about .icon-list img {
    width: 40px;
    height: 40px;
  }
}
.contact__service {
  order: 2;
}
.contact__service ul {
  list-style: none;
}
.contact__address {
  order: 3;
}
.contact__address ul {
  list-style: none;
}
.contact__address ul img {
  width: 16px;
}
@media only screen and (min-width: 1900px) {
  .contact__address ul img {
    width: 24px;
  }
}
.contact__get-in-touch {
  box-sizing: border-box;
  font-size: 24px;
  order: 1;
}
@media only screen and (min-width: 1900px) {
  .contact__get-in-touch {
    order: 4;
  }
}
.contact__get-in-touch form > *:not(:last-child) {
  margin-bottom: 18px;
}
.contact__get-in-touch input {
  padding: 12px;
  font-size: 24px;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  border: 1px solid #606060;
  border-radius: 4px;
  overflow: hidden;
  outline: none;
  transition: border 0.35s;
}
.contact__get-in-touch input:focus {
  border-color: #e9b928;
}
.contact__get-in-touch textarea {
  height: 115px;
  padding: 12px;
  font-size: 24px;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  border: 1px solid #606060;
  border-radius: 4px;
  outline: none;
  transition: border 0.35s;
}
.contact__get-in-touch textarea:focus {
  border-color: #e9b928;
}
.contact__get-in-touch button {
  border: 1px solid #e9b928;
}
.contact .copyright {
  margin-top: 0rem;
  border-top: 1px solid #606060;
  order: 5;
}
@media only screen and (min-width: 1900px) {
  .contact .copyright {
    margin-top: 2rem;
  }
}
.contact .copyright h4 {
  padding: 16px 0;
}
@media only screen and (min-width: 1900px) {
  .contact .copyright h4 {
    padding: 24px 0;
  }
}

/*# sourceMappingURL=style.css.map */
