/***
header component
***/

.header {
  width: 100%;
  background-color: rgba($color: $secondary, $alpha: 1);
  position: fixed;
  z-index: 9999;

  .menu-icon {
    width: 40px;
    height: 40px;
    position: fixed;
    left: 10px;
    top: 10px;

    transition: all 0.35s;

    @include respond(tab-land) {
      display: none;
    }

    &__show {
      visibility: visible;
    }
    &__hide {
      visibility: hidden;
    }
  }

  .drawer {
    margin: 0 -12px;
    left: 0;
    position: fixed;
    width: 100%;

    transition: all 0.35s;
    background-color: rgba($color: $dark, $alpha: 1);

    @include respond(tab-land) {
      background-color: transparent;
      flex-direction: row;
      margin: 0;
      left: 0;
      position: relative;
    }

    &__open {
      margin-left: 0;
    }
    &__close {
      margin-left: -1920px;
      @include respond(tab-land) {
        margin-left: 0;
      }
    }
  }

  .logo-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $white;
    padding: 12px;
    @include respond(tab-land) {
      width: auto;
      padding: 12px;
    }
    .site-logo {
      display: block;
      width: calc(100% - 24px - 30px - 12px);
    }

    .close-icon {
      display: block;
      width: 30px;
      height: 30px;
      @include respond(tab-land) {
        display: none;
      }
    }
    @include respond(tab-land) {
      display: block;
      border-bottom: none;
    }
  }

  .nav {
    width: 100%;

    @include respond(tab-land) {
      width: auto;
      display: flex;
    }

    &__item {
      display: block;
      padding: 20px 10px;
      width: 100%;
      text-transform: uppercase;
      transition: color 0.35s;
      margin-right: auto;
      flex-direction: column;
      border-bottom: 1px solid $white;

      @include respond(tab-land) {
        width: auto;
        border-bottom: none;
      }

      &:hover {
        color: $primary;
      }
    }
  }
}
