/***
header component
***/

.header {
  width: 100%;
  position: relative;
  z-index: 9999;

  @include respond(desk) {
    position: fixed;
  }

  .menu {
    width: 100%;
    padding: 12px;
    position: fixed;
    left: 0;
    top: 0px;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    transition: all 0.75s;

    @include respond(desk) {
      display: none;
    }

    &--dark {
      background-color: rgba($color: $secondary, $alpha: 1);
    }

    &__show {
      visibility: visible;
    }
    &__hide {
      visibility: hidden;
    }

    .menu-icon {
      width: 40px;
      height: 40px;
    }
  }

  .drawer {
    left: 0;
    position: fixed;
    width: 100%;
    // padding: 12px;
    transition: all 0.35s;
    background-color: rgba($color: $dark, $alpha: 1);

    @include respond(desk) {
      position: relative;
      background-color: transparent;
      flex-direction: row;
      margin: 0;
      left: 0;
      position: relative;
      padding: 0;
    }

    &__open {
      margin-left: 0;
    }
    &__close {
      margin-left: 100%;
      @include respond(desk) {
        margin-left: 0;
      }
    }
  }

  .logo-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $white;
    padding: 16px 12px;

    @include respond(desk) {
      width: auto;
      display: block;
      border-bottom: none;
    }
    .site-logo {
      width: 40px;
      height: 40px;
    }

    .close-icon {
      display: block;
      width: 30px;
      height: 30px;
      @include respond(desk) {
        display: none;
      }
    }
  }

  .nav {
    width: 100%;

    @include respond(desk) {
      width: auto;
      display: flex;
    }

    &__item {
      display: block;
      padding: 20px 10px;
      width: 100%;
      text-transform: uppercase;
      transition: color 0.35s;
      margin-right: auto;
      flex-direction: column;
      border-bottom: 1px solid $white;

      @include respond(desk) {
        width: auto;
        border-bottom: none;
      }

      &:hover {
        color: $primary;
      }
    }
  }
}
