/***
header component
***/

.header {
  width: 100%;
  background-color: rgba($color: $secondary, $alpha: 0.8);
  padding: 1.5rem 0;
  position: fixed;
  z-index: 9999;

  .logo-box {
    display: block;
    .site-logo {
      width: 360px;
    }
  }

  .nav {
    display: block;

    &__item {
      display: inline-block;
      padding: 20px 10px;
      width: auto;
      text-transform: uppercase;
      transition: color 0.35s;

      &:hover {
        color: $primary;
      }
    }
  }
}
